In [21]:
import pandas as pd

food_df = pd.read_csv("/Users/Fyxstkala/Desktop/final_data/food_new.csv")
food_df.head()

   fdc_id  food_category_id         descMajor   descMinor
0  321612                11     broccoli, raw         NaN
1  321613                11     broccoli, raw  2 bunches
2  321614                11     broccoli, raw  3 bunches
3  321615                11     broccoli, raw  3 bunches
4  321618                11  broccoli, cooked         NaN

In [22]:
food_df.food_category_id = food_df.food_category_id.fillna(100).astype(int)
food_df.dtypes
type(food_df['descMinor'][0])

float

In [23]:
food_df["descMinor"] = food_df["descMinor"].fillna("")
food_df["descMinor"] = food_df["descMinor"].apply(lambda x: x.split("(", 1)[0])

In [24]:
print(food_df.dtypes)
food_df.head()

fdc_id               int64
food_category_id     int64
descMajor           object
descMinor           object
dtype: object

   fdc_id  food_category_id         descMajor   descMinor
0  321612                11     broccoli, raw
1  321613                11     broccoli, raw  2 bunches
2  321614                11     broccoli, raw  3 bunches
3  321615                11     broccoli, raw  3 bunches
4  321618                11  broccoli, cooked

In [25]:
food_df.to_csv("food_new.csv", index=False)

In [72]:
df = pd.read_csv("1_food_nutrient.csv")
df.head()

   fdc_id  nutrient_id  amount
0  321616         1051    89.0
1  321617         1162    92.2
2  321619         1051    89.2
3  321620         1162    78.4
4  321626         1051    88.1

In [73]:
df.dtypes

fdc_id           int64
nutrient_id      int64
amount         float64
dtype: object