In [2]:
import pandas as pd

food_df = pd.read_csv("/Users/Fyxstkala/Desktop/final_data/1_food.csv")
food_df.head()

   fdc_id  food_category_id         descMajor                    descMinor
0  321612              11.0     broccoli, raw          (in1,ny1) - cy0906e
1  321613              11.0     broccoli, raw  2 bunches (in1) - nfy0905dd
2  321614              11.0     broccoli, raw  3 bunches (ny1) - nfy0905ev
3  321615              11.0     broccoli, raw  3 bunches (in1) - nfy0905dc
4  321618              11.0  broccoli, cooked          (in1,ny1) - cy0906k

In [4]:
food_df.food_category_id = food_df.food_category_id.fillna(100).astype(int)

In [6]:
food_df["descMinor"] = food_df["descMinor"].apply(lambda x: x.split("(", 1)[0])

AttributeError: 'float' object has no attribute 'split'

In [49]:
print(food_df.dtypes)
print(food_small_df.dtypes)
food_small_df.head()

fdc_id               int64
description         object
food_category_id     int64
dtype: object
fdc_id               int64
description         object
food_category_id     int64
dtype: object

   fdc_id                description  food_category_id
0  321612             broccoli, raw                 11
1  321613  broccoli, raw, 2 bunches                 11
2  321614  broccoli, raw, 3 bunches                 11
3  321615  broccoli, raw, 3 bunches                 11
4  321618          broccoli, cooked                 11

In [50]:
food_df.to_csv("food_new.csv", index=False)
food_small_df.to_csv("food_small_new.csv", index=False)

In [72]:
df = pd.read_csv("1_food_nutrient.csv")
df.head()

   fdc_id  nutrient_id  amount
0  321616         1051    89.0
1  321617         1162    92.2
2  321619         1051    89.2
3  321620         1162    78.4
4  321626         1051    88.1

In [73]:
df.dtypes

fdc_id           int64
nutrient_id      int64
amount         float64
dtype: object